<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_story.title %>
</p>

<p>
  <strong>App:</strong>
  <%= @user_story.app %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @user_story.persona %>
</p>

<p>
  <strong>Attribute:</strong>
  <%= @user_story.attribute %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @user_story.goal %>
</p>

<%= link_to 'Edit', edit_user_story_path(@user_story) %> |
<%= link_to 'Back', user_stories_path %>
