<p id="notice"><%= notice %></p>

<center>
  <h1>User Story Cards</h1>
</center>


<table>
  <thead>
    <tr>
      <th>App</th>
      <th>Maintitle</th>
      <th>Persona</th>
      <th>Trait</th>
      <th>Goal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_story_cards.each do |user_story_card| %>
      <tr>
        <td><%= user_story_card.app %></td>
        <td><%= user_story_card.maintitle %></td>
        <td><%= user_story_card.persona %></td>
        <td><%= user_story_card.trait %></td>
        <td><%= user_story_card.goal %></td>
        <td><%= link_to 'Show', user_story_card %></td>
        <td><%= link_to 'Edit', edit_user_story_card_path(user_story_card) %></td>
        <td><%= link_to 'Destroy', user_story_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Story Card', new_user_story_card_path %>
